<h2>Favourite Team</h2>

<form action='/profile/create' method='post'>

  <label for='username'>Username</label>
  <input type='text' name='username' id='username' />

  <label for='favouriteTeam'>favouriteTeam</label>
  <input type='text' name='favouriteTeam' id='favouriteTeam' />


  <button type='submit'>Create</button>

</form>