<h2>My profile</h2>

{{#if foundUser}}

  <h2>Welcome {{foundUser.username}}</h2>
  {{#each foundUser.favouriteTeam}}
    <p>Favourite Team: {{this.name}}</p>
    <form action="/profile" method="post">
      <button type="submit">Delete</button>
    </form>
  {{/each}}
  {{#each foundUser.favouritePilot}}
    <p>Favourite Pilot: {{this.name}}</p>
  {{/each}}
  {{#each foundUser.favouriteLegend}}
    <p>Favourite Legend: {{this.name}}</p>
  {{/each}}

{{/if}}