<div class="calendarMain">

  <h3>Calendar</h3>

  <div>

    <table>
      <tr>
        <th>Grand Prix</th>
        <th>Date</th>
        <th>Round</th>
      </tr>
      {{#each calendar}}
        <tr>
          <td><a
              href="/grandprix-details/{{Circuit.circuitId}}"
            >{{this.raceName}}</a></td>
          <td> {{this.date}}</td>
          <td> {{this.round}}</td>
        </tr>
      {{/each}}
    </table>
  </div>

</div>