<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
   
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.15.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/styleF.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>

    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="/calendar">Calendar</a>
      <a href="/standings">Standings</a>
      <a href="/pilots-list">Drivers</a>
      <a href="/teams-list">Teams</a>
      <a href="/legends-list">Legends</a>
      <a href="/profile" class="runFromLogs">Profile</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    {{{body}}}
    <script>
      function myFunction() { let x = document.getElementById("myTopnav"); if
      (x.className === "topnav") { x.className += " responsive"; } else {
      x.className = "topnav"; } }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
  </body>

</html>