
<div class="teamsListMain">

{{#each teams}}
  <div class="teamsListContainer">
    <h3><a href='/teams/{{_id}}'>{{name}}</a></h3>
    <img class="teamlogos" src="{{imageUrl}}" alt="">    
  </div>
{{/each}}

</div>

