body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.teamlogos {
  width: 350px;
  height: 200px;
}

.pilotslogo {
  width: 250px;
  height: 350px;
}