body {
  width: 75vh;
  height: 130vh;
  
  font: 4vh "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar{
  width: fit-content ;
  background-color: red !important;
  display: flex !important;
  justify-content: space-around !important;
  margin-bottom: 1vh;

  
}
.loginLogout{
  margin-left: 40vh;
}
 
.navbar-nav{
  margin-left: 50vh !important;
}

.navbar div{
  display: flex !important;
  justify-content: space-evenly !important;
}
.navbar a{
  color: white !important;
  font-size: 20px !important;
}


.teamlogos {
  width: 350px;
  height: 200px;
}

.pilotslogo {
  width: 250px;
  height: 350px;
}

.rowStandings {
  width:100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://images6.alphacoders.com/112/1120089.jpg');
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2vh;
  
}

.standing {
  margin-top: 15%;
  background-color: rgba(220, 220, 220, 0.4);
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standing td {
  padding: 1vh 1vh;
}

