

<div class="pListMain">


{{#each pilots}}
  <div>
    <h3><a href="/pilots/{{_id}}">{{name}}</a></h3>
    <img class="pilotslogo" src="{{imageUrl}}" alt="pilots logo">
    
  </div>
{{/each}}

</div>